@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* These are bespoke elements, the rest is vite and may need changing or discarding */
#userDataForm {
  /* width: 100vw; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userSubmittedContentDisplay {
  border: 1px dashed darkblue;

  background-color: #9599f7;
  color: rgb(1, 1, 100);
}

.submitted-data-div {
  display: flex;
}
.data-div {
  border: 0.5px solid bisque;
}
.message-div {
  border: 0.5px solid bisque;
}
.buttons-div {
  border: 0.5px solid bisque;
}

#submit-button {
  background-color: #888;
  border: 1px solid goldenrod;
  border-radius: 10%;
}
.like-button {
  color: antiquewhite;
}

.delete-button {
  background-color: #9599f7;
  font-weight: bold;
}
header {
  background-color: rgb(61, 27, 186);
  color: aliceblue;
}
/* Custom tags end here 
 */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: cornsilk;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .userSubmittedContentDisplay {
    border: 1px dashed goldenrod(91, 148, 232);
  }
  #submit-button {
    background-color: #888;
    border: 1px solid goldenrod;
    border-radius: 10%;
  }

  header {
    background-color: rgb(247, 236, 123);
    color: #213547;
  }
}
@media (max-width: 400px) {
  #userDataForm {
    flex-direction: column;
  }
}
